
<div class="flex flex-col h-[calc(100vh-75px)]">
    <app-admin-page-title  iconClass="pi pi-objects-column" title="Catálogo"/>
    <div class="p-5 flex-1 overflow-auto" *ngIf="!this.loadingCatalogo;else fallback">
        <div class="mb-3">
            <div *ngIf="this.auth.getContext()?.role==='ADMIN'" class="p-3  bg-slate-100 shadow-sm rounded-lg w-[180px] mb-10" >
                <div class="font-bold text-[14px] mb-1">Loja do catálogo:</div>
                <p-select [filter]="true" styleClass=" !w-[160px] !text-xs !h-[40px] !flex !items-center" [(ngModel)]="this.selectedLoja" (ngModelChange)="this.loadCatalogo()" [options]="this.auth.getContext()?.lojasFranquia || []" optionLabel="nome" />
            </div>
            <div>
                <app-descontos/>
            </div>
        </div>
        <div 
        cdkDropList 
        cdkDropListOrientation="mixed" 
        (cdkDropListDropped)="this.drop($event)" 
        class="flex flex-wrap gap-10  " *ngIf="this.catalogo.length;else empty">
            <div cdkDrag *ngFor="let item of this.catalogo" class="p-3 border-[1px] border-solid bg-white border-slate-100 shadow-sm rounded-sm relative">
                    <div class="w-[200px] h-[370px] relative">
                        <div class="flex w-full justify-between items-center absolute top-[0px]">
                            <app-excluir-produto (onExclude)="handleExclude($event)" [produtoCatalogo]="item"/>
                            <div class="example-handle cursor-grab flex justify-end" cdkDragHandle>
                                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                  <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <img *ngIf="item.produtoBase.photoUrl" [src]="item.produtoBase.photoUrl" class="w-[200px] h-[200px]"/>
                            <div *ngIf="!item.produtoBase.photoUrl" class=" pi pi-image !text-[200px] text-gray-300" ></div>
                        </div>
                        <div class="mt-4">
                            <div class="text-xs text-slate-400">{{item.produtoBase.sku}}</div>
                            <div class="text-sm mt-5 mb-2">Preço : {{item.produtoBase.preco| currency:"BRL"}}</div>
                            <div class="font-bold text-xs text-vertical-overflow">{{item.produtoBase.descricao}}</div>
                        </div>
                        <div class="absolute bottom-[10px]">
                            <app-product-variation-view [skuBase]="item.produtoBase.sku" buttonText="Ver estoque" [lojaSlug]="this.selectedLoja.slug" [productId]="item.produtoBase.systemId" />
                        </div>
                    </div>
            </div>
        </div>
        <ng-template #empty>
            <div class="text-lg text-slate-500 mt-5">Nenhum item adicionado ao cátalogo</div>
        </ng-template>
    </div>
    <ng-template #fallback >
        <div class="w-full xl:w-6/12 p-4">
            <p-skeleton height="1rem" styleClass="mb-2" borderRadius="16px" />
            <p-skeleton height="2rem" width="10rem" styleClass="mb-2" borderRadius="16px" />
            <p-skeleton height="2rem" width="5rem" styleClass="mb-2" borderRadius="16px" />
            <p-skeleton height="10rem" styleClass="mb-2" borderRadius="16px" />
            <p-skeleton width="10rem" height="4rem" borderRadius="16px" />
        </div>
    </ng-template>
</div>
