<app-admin-page-title  iconClass="pi pi-images" title="Banners"/>
<div  class=" p-5 relative ">
    <div class="mb-10" *ngFor="let loja of lojas">
        <div>
            <div class="font-bold text-[20px] mb-2">{{loja.nome}}</div>
            <div class="flex items-center gap-5 w-full overflow-auto ">
                <div class="w-full text-sm bg-slate-50 p-3 rounded-sm">
                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-desktop !text-xs"></div>
                        <div>
                            Computador:
                        </div> 
                    </div>
                    <div class="mb-4 flex items-center justify-center w-[384px] h-[100px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>

                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-mobile !text-xs"></div>
                        <div>
                            Celular:
                        </div> 
                    </div>                    <div class="flex items-center justify-center w-[240px] h-[200px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>
                </div>
                <div class="text-sm bg-slate-50 p-3 rounded-sm">
                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-desktop !text-xs"></div>
                        <div>
                            Computador:
                        </div> 
                    </div>
                    <div class="mb-4 flex items-center justify-center w-[384px] h-[100px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>

                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-mobile !text-xs"></div>
                        <div>
                            Celular:
                        </div> 
                    </div>                    <div class="flex items-center justify-center w-[240px] h-[200px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>
                </div>
                <div class="text-sm bg-slate-50 p-3 rounded-sm">
                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-desktop !text-xs"></div>
                        <div>
                            Computador:
                        </div> 
                    </div>
                    <div class="mb-4 flex items-center justify-center w-[384px] h-[100px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>

                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-mobile !text-xs"></div>
                        <div>
                            Celular:
                        </div> 
                    </div>                    <div class="flex items-center justify-center w-[240px] h-[200px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>
                </div>
                <div class="text-sm bg-slate-50 p-3 rounded-sm">
                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-desktop !text-xs"></div>
                        <div>
                            Computador:
                        </div> 
                    </div>
                    <div class="mb-4 flex items-center justify-center w-[384px] h-[100px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>

                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-mobile !text-xs"></div>
                        <div>
                            Celular:
                        </div> 
                    </div>                    <div class="flex items-center justify-center w-[240px] h-[200px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>
                </div>
                <div class="text-sm bg-slate-50 p-3 rounded-sm">
                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-desktop !text-xs"></div>
                        <div>
                            Computador:
                        </div> 
                    </div>
                    <div class="mb-4 flex items-center justify-center w-[384px] h-[100px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>

                    <div class="flex items-center gap-2 mb-1">
                        <div class="pi pi-mobile !text-xs"></div>
                        <div>
                            Celular:
                        </div> 
                    </div>                    <div class="flex items-center justify-center w-[240px] h-[200px] border-[1px] border-dashed border-slate-300">
                        <div class="pi pi-plus !text-gray-300 "></div>
                    </div>
                </div>
        </div>
    </div>
</div>