<div   class="z-[100] h-[75px] w-full bg-white sticky top-0 flex items-center justify-between p-3 border-[1px] border-solid shadow-sm">
    <div (click)="goToHome()" class="flex items-center gap-4 ml-3 cursor-pointer">
        <img class="h-[30px] w-[35px]" src="preto-sem-bg.png"/>
        <div [ngClass]="{
            'opacity-1': loja, 
            'opacity-0': !loja, 
            'transform translate-y-0': loja, 
            'transform translate-y-[10px]': !loja
        }" class="text-black transition-all ease-linear text-xs">
            {{loja}}
        </div>
    </div>
    <app-sacola  [ngClass]="{'hidden':!this.isCheckout}" class="mr-10 max-sm:mr-5"/>
</div>
