
<div class="p-5">
    <div class="mb-3">
        <app-criar-faixa/>
    </div>
    <p-table styleClass="!w-[600px]" [value]="this.faixas" >
        <ng-template #header>
            <tr>
                <th>Faixa ínicio</th>
                <th>Faixa fim</th>
                <th>Valor mínimo pedido</th>
                <th>Frete fixo</th>
                <th>Prazo fixo</th>
            </tr>
        </ng-template>
        <ng-template #body let-faixa>
            <tr>
                <th>{{this.forceType(faixa).cepInicio | cepPipe}}</th>
                <th>{{this.forceType(faixa).cepFim | cepPipe}}<</th>
                <th>{{this.forceType(faixa).minValueToApply | currency:"BRL"}}</th>
                <th>{{this.forceType(faixa).valorFixo | currency:"BRL"}}</th>
                <th>{{this.forceType(faixa).prazo }}</th>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <div class="text-xs">Nenhuma faixa cadastrada</div>
        </ng-template>
    </p-table>
</div>