<div class="flex flex-col h-[calc(100vh-75px)]">
    <app-admin-page-title  iconClass="pi pi-shop" title="Lojas"/>
    <div class="p-5 relative  flex-1">
        <p-table *ngIf="this.lojas;else fallback" [value]="this.lojas" >
            <ng-template #header>
                <tr>
                    <th>Loja</th>
                    <th>Telefone</th>
                    <th>Cep</th>
                    <th>Endereço</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-editing="editing" #body let-loja>
                <tr [pEditableRow]="loja">
                    <td class="text-sm">
                        {{this.forceType(loja).loja}}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template  #input>
                                <input [(ngModel)]="this.forceType(loja).telefone" class="!text-xs !w-[100px] !h-[20px]" pInputText/>
                            </ng-template>
                            <ng-template #output>
                                <div *ngIf="this.forceType(loja).telefone">{{this.forceType(loja).telefone}}</div>
                                <div class="text-xs" *ngIf="!this.forceType(loja).telefone">Desconhecido</div>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div *ngIf="this.forceType(loja).cep">{{this.forceType(loja).cep}}</div>
                        <div class="text-xs" *ngIf="!this.forceType(loja).cep">Desconhecido</div>
                    </td>
                    <td>
                        <div *ngIf="this.forceType(loja).endereco">{{this.forceType(loja).endereco}}</div>
                        <div class="text-xs" *ngIf="!this.forceType(loja).endereco">Desconhecido</div>
                    </td>
                    <td>
                        <app-edit-loja (onSave)="this.onEdit($event)" [loja]="loja"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #fallback >
            <div class="w-full xl:w-6/12 p-4">
                <p-skeleton height="1rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="2rem" width="10rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="2rem" width="5rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton height="10rem" styleClass="mb-2" borderRadius="16px" />
                <p-skeleton width="10rem" height="4rem" borderRadius="16px" />
            </div>
        </ng-template>
    </div>
</div>