<div class="flex item-center gap-4 mb-6" *ngIf="this.payload.descontoGenericoCarrinho">
    <div>
        <div class="text-xs text-gray-400">
            Valor mínimo carrinho (R$)
        </div>
        <p-input-number [showButtons]="true"  mode="currency" currency="BRL" [(ngModel)]="this.payload.descontoGenericoCarrinho.minValue" [min]="0"/>
    </div>
    <div>
        <div  class="text-xs text-gray-400">
            Desconto no total carrinho (%)
        </div>
        <p-input-number [showButtons]="true"  prefix="%" [(ngModel)]="desconto" [min]="0" [max]="100"/>
    </div>
</div>
<div class="flex justify-end mb-5">
    <button [loading]="this.loading" (click)="this.save()" class="!bg-black !text-sm w-full" pButton>
        Salvar desconto
    </button>
</div>