<div  class="z-[100] h-[75px] w-full bg-white sticky top-0 flex items-center justify-between p-3 shadow-sm">
    <div class="flex items-center gap-4">
        <img class="h-[30px] w-[35px]" src="preto-sem-bg.png"/>
        <div [ngClass]="{
            'opacity-1': loja, 
            'opacity-0': !loja, 
            'transform translate-y-0': loja, 
            'transform translate-y-[10px]': !loja
        }" class="text-black transition-all ease-linear text-xs">
            {{loja}}
        </div>
    </div>
</div>
