<button (click)="this.open=true" pButton class="!rounded-md !bg-black px-2 py-1 shadow-sm !border-[1px] !border-solid flex items-center gap-2">
    <div class="text-[13px] text-white ">+ Novo desconto</div>
</button>
<p-drawer class="[&_.p-drawer-content.ng-star-inserted]:!overflow-visible [&_.p-overlay-mask]:!opacity-100" styleClass="!w-[600px]" position="right" header="Novo desconto" [(visible)]="this.open">
    <div class="w-[480px] mt-12 ">
        <div class="w-full h-[1px] bg-slate-300 mb-5">

        </div>
        <div class="flex item-center gap-4 mb-7">
            <div>
                <div class="text-xs mb-1 font-bold">Tipo:</div>
                <p-select [(ngModel)]="this.focusedTipo" (onChange)="this.manageTipoChange()" styleClass="!w-[300px] !text-sm !h-[40px] flex items-center" [options]="this.descontoTipos" optionLabel="beauty_name"/>
            </div>
        </div>
        <div class = "mb-7">
            <div class="text-xs mb-1 font-bold">Nome desconto:</div>
            <input class="!w-[300px]" [(ngModel)]="this.payload.nome" pInputText/>
        </div>
        <div class="p-5 border-[1px] border-solid border-slate-200 bg-slate-50 rounded-lg shadow-sm w-fit" >
            <div class="font-bold mb-3">Regras desconto:</div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_FRETE">
                <app-desconto-frete-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_GENERICO_CARRINHO">
                <app-desconto-generico-carrinho-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_SIMPLES_PRODUTO">
                <app-desconto-simples-produto-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_SIMPLES_TERMO">
                <app-desconto-simples-termo-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PECA_MAIOR_VALOR">
                <app-desconto-maior-valor-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PECA_MENOR_VALOR">
                <app-desconto-menor-valor-form (onSave)="this.childSave($event)" [loading]="this.loadingSave" [payload]="this.payload"/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PROGRESSIVO">
                <app-desconto-progressivo-form/>
            </div> 
        </div>
    </div>
</p-drawer>