<button (click)="this.open=true" pButton class="!rounded-md !bg-black px-2 py-1 shadow-sm !border-[1px] !border-solid flex items-center gap-2">
    <div class="text-[13px] text-white ">+ Novo desconto</div>
</button>
<p-drawer (onHide)="this.definePayLoadModel()" class="[&_.p-overlay-mask]:!opacity-100" styleClass="!w-[600px]" position="right" header="Novo desconto" [(visible)]="this.open">
    <div class="w-[480px] ">
        <div class="flex justify-end mb-5">
            <button [loading]="this.loadingSave" (click)="this.submit()" class="!bg-black !text-sm" pButton>
                Salvar desconto
            </button>
        </div>
        <div class="w-full h-[1px] bg-slate-300 mb-5">

        </div>
        <div class="flex item-center gap-4 mb-7">
            <div>
                <div class="text-xs mb-1">Tipo:</div>
                <p-select [(ngModel)]="this.focusedTipo" (onChange)="this.manageTipoChange()" styleClass="!w-[300px]" [options]="this.descontoTipos" optionLabel="beauty_name"/>
            </div>
        </div>
        <div class = "mb-7">
            <div class="text-xs mb-1">Nome desconto:</div>
            <input [(ngModel)]="this.payload.nome" pInputText/>
        </div>
        <div class="font-semibold">Regras de aplicação:</div>
        <div class="flex flex-wrap">
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_FRETE">
                <app-desconto-frete-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_GENERICO_CARRINHO">
                <app-desconto-generico-carrinho-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_SIMPLES_PRODUTO">
                <app-desconto-simples-produto-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_SIMPLES_TERMO">
                <app-desconto-simples-termo-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PECA_MAIOR_VALOR">
                <app-desconto-maior-valor-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PECA_MENOR_VALOR">
                <app-desconto-menor-valor-form/>
            </div>
            <div *ngIf="this.focusedTipo.pure_name===DescontoTipoEnum.DESCONTO_PROGRESSIVO">
                <app-desconto-progressivo-form/>
            </div> 
        </div>
    </div>
</p-drawer >