<app-catalogo-header/>
<app-catalogo-banner/>
<app-catalogo-loja-wrapper>
    <ng-container *ngIf="produtosFiltrados; else loading">
        <div class="w-[90%] max-sm:mt-1">
                <div class="flex justify-start w-full ml-10 mb-5">
                    <div class="relative w-[300px]">
                        <div class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">
                            <i class="pi pi-search"></i> <!-- Ícone de lupa -->
                        </div>
                        <input [(ngModel)]="filter" 
                               (ngModelChange)="this.filtrar()" 
                               class="w-full p-1 pl-8 outline-none border-b-black border-solid border-b-[1px]" 
                               placeholder="Busca algo específico?"/>
                    </div>
                </div>
                <div [@fadeIn] *ngIf="this.produtosFiltrados.length;else empty" class="flex flex-wrap gap-10 justify-center">
                    <div class="w-[300px] h-[300px] mb-[100px] " *ngFor="let item of produtosFiltrados">
                        <div class="p-2">
                            <img *ngIf="item.produtoBase.photoUrl" class="w-full h-[280px] " [src]="item.produtoBase.photoUrl" />
                            <div *ngIf="!item.produtoBase.photoUrl" class=" pi pi-image !text-[280px] text-gray-300" ></div>
                            <div class="mt-1">
                                <div class="text-gray-400 text-xs">Sku: {{item.produtoBase.sku}}</div>
                                <div class=" text-xs mt-3 text-nowrap overflow-hidden text-ellipsis ">
                                    {{ item.produtoBase.descricao }}
                                </div>
                                <button class="flex items-center justify-center gap-3 mt-5  w-full text-white bg-black rounded-sm py-2 px-1 text-xs cursor-pointer">
                                    <div  class="pi pi-shopping-bag !font-thin"></div>
                                    <div>
                                        Adicionar a sacola
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #empty>
                    <div class="ml-10 text-gray-400">
                       Nenhum produto encontrado
                    </div>
                </ng-template>

        </div>
    </ng-container>
    <ng-template #loading>
        <div class="w-full max-w-[90%]">
            <div class="flex flex-col justify-center  ">
                <div class="flex justify-center w-full">
                    <div class="flex flex-wrap  gap-4">
                        <div *ngFor="let _ of [].constructor(50); let i = index" class="mb-4">
                            <p-skeleton styleClass="!w-[300px]" height="280px" />
                            <p-skeleton styleClass="!w-[100px] !mt-3" height="10px" />
                            <p-skeleton styleClass="!w-full !mt-3" height="30px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-catalogo-loja-wrapper>