<div [@fadeIn] class="flex justify-center items-center min-h-[70vh]">
    <div>
        <div class="flex max-lg:gap-10 max-[910px]:flex-col gap-20 max-[500px]:gap-3 justify-center ">
            <div class="max-[500px]:h-fit h-[400px] max-[500px]:w-[300px]  max-md:h-[350px] flex  gap-3 max-[500px]:justify-center max-[500px]:flex-col ">
                <div >
                    <p-skeleton *ngIf="!this.selectedPhoto" styleClass="!w-[400px]  !h-full max-[500px]:!h-[300px]   max-[500px]:!w-[300px] max-md:!w-[350px] border-[1px]  "/>
                    <img *ngIf="this.selectedPhoto" class="w-[400px]  h-full   max-[500px]:w-[300px] max-md:w-[350px]  border-[1px] border-solid border-slate-100"  [src]="this.selectedPhoto"/>
                </div>
                <div class="tiny-scroll max-[500px]:flex max-[500px]:items-center max-[500px]:gap-6 overflow-auto">
                    <ng-container *ngIf="!this.produto">
                        <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px]  sm:!mb-5  "/>
                        <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px]  sm:!mb-5 "/>
                        <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px]  sm:!mb-5 "/>
                    </ng-container>
                    <ng-container *ngFor="let item of photos">
                        <img (click)="this.selectedPhoto=item" *ngIf="this.produto" [src]="item" class="cursor-pointer max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] sm:!mb-5 border-[1px] border-solid border-slate-100"/>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-col max-[500px]:w-[300px] max-[910px]:w-[400px] max-[910px]:justify-center  max-lg:w-[350px] max-xl:w-[400px] w-[500px]">
                <div class="max-[500px]:mb-2 mb-5">
                    <p-skeleton *ngIf="!this.produto" styleClass="!w-full !h-[20px] !mb-5"/>
                    <div class="font-semibold max-[500px]:!text-xs" *ngIf="this.produto">{{this.produto.produtoBase.descricao}}</div>
                    <div class="text-[10px] text-gray-400" *ngIf="this.produto">Sku: {{this.produto.produtoBase.sku}}</div>
                    <div  *ngIf="this.produto" class="bg-slate-200 w-full h-[1px] mt-5 mb-5 max-[500px]:mb-2 max-[500px]:mt-2"></div>
                    <p-skeleton *ngIf="!this.produto" styleClass="!w-[100px] !h-[20px] !mb-5"/>
                    <div  *ngIf="this.produto">{{this.produto.produtoBase.preco| currency:"BRL"}}</div>
                </div>
                <p-skeleton *ngIf="!this.stock" styleClass=" !w-[100px] !h-[30px] !rounded-sm !mb-5"/>
                <p-select  styleClass="!w-[200px] !mb-5  !flex !items-center !text-xs" *ngIf="this.stock" [options]="this.coresOption" optionValue="value" optionLabel="label" [(ngModel)]="this.selectedCor" (ngModelChange)="this.manageCorChange()" />
                <div class="flex items-center gap-2 max-[400px]:w-[300px] overflow-auto tiny-scroll flex-nowrap">
                    <ng-container *ngIf="!this.stock">
                        <p-skeleton styleClass=" !w-[50px] !h-[50px] !rounded-full "/>
                        <p-skeleton styleClass="!w-[50px] !h-[50px] !rounded-full "/>
                        <p-skeleton styleClass="!w-[50px] !h-[50px] !rounded-full "/>
                    </ng-container>
                    <ng-container *ngIf="this.stock">
                        <ng-container *ngFor="let item of this.tamanhos">
                            <div (click)="this.selectedTamanho=item;this.manageTamanhoChange()" [ngClass]="{'border-black':item===this.selectedTamanho,'pointer-events-none opacity-35':this.getStockForTamanhoAndContextualCor(item)===0}" class="cursor-pointer text-xs max-[400px]:w-[30px] max-[400px]:h-[30px] w-[50px] h-[50px] rounded-full border-[1px] border-solid flex items-center justify-center flex-shrink-0">
                                {{item}}
                            </div>    
                        </ng-container>
                    </ng-container>
                </div>
                <div [ngClass]="{'opacity-100':this.overAddedTheSameSku,'h-auto':this.overAddedTheSameSku}" class="text-red-600 mt-1 text-sm opacity-0 transition-all ease-linear h-[0px]">Você adicionou todo estoque dessa opção no carrinho</div>
                <div class="max-[500px]:mb-3 mb-20 max-lg:mb-5"></div>
                <p-skeleton *ngIf="!this.stock" styleClass=" !w-full !h-[50px] !rounded-sm !mb-5"/>
                <button (click)="this.addToSacola()" *ngIf="this.stock" pButton class="!bg-black !w-full !h-[50px] !rounded-sm !mb-5 !text-sm">
                    Adicionar à sacola
                </button>
            </div>
        </div>
    </div>
</div>