<div class="flex justify-center items-center min-h-[70vh]">
    <div>
        <div class="flex max-lg:gap-10 max-[910px]:flex-col gap-20 max-[500px]:gap-3 justify-center ">
            <div class="!h-[400px] max-[400px]:!h-[250px] max-[500px]:!h-[300px] max-md:!h-[350px] flex  gap-3 max-[500px]:justify-center max-[500px]:flex-col ">
                <div>
                    <p-skeleton styleClass="!w-[400px] !h-full max-[400px]:!w-[250px]   max-[500px]:!w-[300px] max-md:!w-[350px]   "/>
                </div>
                <div class="photos max-[500px]:flex max-[500px]:items-center max-[500px]:gap-6 overflow-y-scroll ">
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                    <p-skeleton styleClass="max-[500px]:!w-[50px] max-[500px]:!h-[50px] !w-[100px] !h-[100px] !mb-5 "/>
                </div>
            </div>
            <div class="flex flex-col max-[500px]:w-[300px] max-[910px]:w-[400px] max-[910px]:justify-center  max-lg:w-[350px] max-xl:w-[400px] w-[500px]">
                <div class="mb-5">
                    <p-skeleton styleClass="!w-full !h-[20px] !mb-5"/>
                    <p-skeleton styleClass="!w-[100px] !h-[20px] !mb-5"/>
                </div>
                <p-skeleton styleClass=" !w-[100px] !h-[30px] !rounded-sm !mb-5"/>
                <div class="flex items-center gap-2 max-[500px]:!mb-2 mb-20 max-lg:mb-5 ">
                    <p-skeleton styleClass=" !w-[50px] !h-[50px] !rounded-full !mb-5"/>
                    <p-skeleton styleClass="!w-[50px] !h-[50px] !rounded-full !mb-5"/>
                    <p-skeleton styleClass="!w-[50px] !h-[50px] !rounded-full !mb-5"/>
                </div>
                <p-skeleton styleClass=" !w-full !h-[50px] !rounded-sm !mb-5"/>
            </div>
        </div>
    </div>
</div>