<div (click)="this.open=true" class="cursor-pointer flex items-center justify-center gap-3 text-white bg-black py-2.5 px-2 rounded-md">
    <div class="pi pi-eye  flex items-center justify-center !text-sm">
    </div>
    <div class="text-xs text-nowrap">Ver pedido</div>
</div>
<p-dialog header="Pedido" appendTo="body" [modal]="true" [dismissableMask]="true" [(visible)]="this.open" styleClass="!min-w-[600px]">
    <div class="text-sm mb-3">
        <div class="mb-5">
            <div>
                <b>Cliente:</b> {{this.pedido.nome}}
            </div>
            <div>
                <b>Documento:</b> {{this.pedido.documento | documentoPipe}}
            </div>
            <div>
                <b>Telefone:</b> {{this.pedido.telefone | phonePipe}}
            </div>
        </div>
        <div>
            <div>
                <b>Endereço entrega:</b> {{this.getBeautyAddress(pedido)}}
            </div>
            <div>
                <b>Cep:</b> {{this.pedido.cep | cepPipe}}
            </div>
        </div>
    </div>
    <p-table [value]="this.pedidoVariacoesReduced">

    </p-table>
</p-dialog>