<div (click)="this.open=true" class="cursor-pointer flex items-center justify-center gap-3 text-white bg-black py-2.5 px-2 rounded-md">
    <div class="pi pi-book  flex items-center justify-center !text-sm">
    </div>
    <div class="text-xs text-nowrap">Detalhes</div>
</div>
<p-dialog  [dismissableMask]="true" header="Pedido" appendTo="body" [modal]="true"  [(visible)]="this.open" styleClass="!min-w-[600px] ">
    <div class="text-sm mb-5">
        <div class="mb-5">
            <div>
                <b>Cliente:</b> {{this.pedido.nome}}
            </div>
            <div>
                <b>Documento:</b> {{this.pedido.documento | documentoPipe}}
            </div>
            <div>
                <b>Telefone:</b> {{this.pedido.telefone | phonePipe}}
            </div>
        </div>
        <div>
            <div>
                <b>Endereço entrega:</b> {{this.getBeautyAddress(pedido)}}
            </div>
            <div>
                <b>Cep:</b> {{this.pedido.cep | cepPipe}}
            </div>
        </div>
    </div>
    <p-table styleClass="max-h-[500px] overflow-auto" [value]="this.pedidoVariacoesReduced">
        <ng-template #header>
            <tr class="text-sm">
                <th>
                    Produto
                </th>
                <th>
                    Sku
                </th>
                <th>
                    Cor
                </th>
                <th>
                    Tamanho
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Valor base
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-row>
            <tr CLASS="text-xs">
                <td class="flex items-center gap-3 w-fit">
                    <div>
                        <img class="w-[100px] h-[100px]" [src]="this.asReducedVariation(row).fotoUrl"/>
                    </div>
                    <div>
                        {{this.getParentNameOfVariationId(this.asReducedVariation(row).systemId)}}
                    </div>
                </td>
                <td>
                    {{this.asReducedVariation(row).sku}}
                </td>
                <td>
                    {{this.asReducedVariation(row).cor}}
                </td>
                <td class="!text-center">
                    {{this.asReducedVariation(row).tamanho}}
                </td>
                <td class="!text-center">
                    {{this.asReducedVariation(row).quantidade}}
                </td>
                <td>
                    {{this.asReducedVariation(row).valorBase | currency:"BRL"}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex flex-col items-end mt-5">
        <div class="flex items-center gap-3">
            <div class="font-bold">Subtotal:</div>
            <div class="p-2 w-[150px] flex justify-end text-sm">{{this.getValorBruto() | currency:"BRL"}}</div>
        </div>
        <div class="h-[1px] w-[150px] bg-slate-300"></div>
        <div class="flex items-center gap-3">
            <div class="font-bold">Descontos:</div>
            <div class="p-2 w-[150px] flex justify-end text-sm">{{this.getTotalDescontos() | currency:"BRL"}}</div>
        </div>
        <div class="h-[1px] w-[150px] bg-slate-300"></div>
        <div class="flex items-center gap-3">
            <div class="font-bold">Frete:</div>
            <div class="p-2 w-[150px] flex justify-end  text-sm">{{pedido.valorFrete| currency:"BRL"}}</div>
        </div>
        <div class="h-[1px] w-[150px] bg-slate-300  text-sm"></div>
        <div class="flex items-center gap-3">
            <div class="font-bold">Líquido:</div>
            <div class="p-2 w-[150px] flex justify-end  text-sm">{{pedido.valor| currency:"BRL"}}</div>
        </div>
        <div class="h-[1px] w-[150px] bg-slate-300"></div>
    </div>
</p-dialog>