<div *ngIf="this.produto;else loading" (click)="this.goToProductPage()" class="p-2  cursor-pointer max-sm:w-[200px] max-sm:h-[160px] w-[300px] h-[300px] mb-[100px]">
    <div class="border-[1px] border-solid border-slate-200">
        <img *ngIf="produto.produtoBase.photoUrl" class="w-full aspect-square max-sm:h-[160px] " [src]="produto.produtoBase.photoUrl" />
    </div>
    <div *ngIf="!produto.produtoBase.photoUrl" class=" pi pi-image !text-[280px] text-gray-300" ></div>
    <div class="mt-1 space-y-3">
        <div class="text-gray-400 text-xs">Sku: {{produto.produtoBase.sku}}</div>
        <div class=" text-xs mt-3 text-nowrap overflow-hidden text-ellipsis font-semibold ">
            {{ produto.produtoBase.descricao }}
        </div>
        <div class="text-sm">
            {{produto.produtoBase.preco | currency:"BRL"}}
        </div>
        <div class="text-[10px] rounded-sm bg-slate-100 w-fit  p-1">{{produto.produtoBase.linha}}</div>

    </div>
</div>

<ng-template #loading>
    <p-skeleton styleClass="max-sm:!h-[160px] max-sm:!w-[160px] !w-[300px] !h-[280px]"  />
    <p-skeleton styleClass="!w-[100px] !h-[10px] !mt-3" />
    <p-skeleton styleClass="!w-full !mt-3 !h-[30px]"  />
</ng-template>