<button (click)="this.open=true" pButton class=" !bg-black px-2 py-1 shadow-sm !border-[1px] !border-solid flex items-center gap-2">
    <div class="pi pi-percentage !text-white !text-xs"></div>
    <div class="text-[13px] text-white ">Gerenciar descontos</div>
</button>
<p-dialog header="Descontos" styleClass="!min-w-[60vw] !max-h-[600px] overflow-auto" [modal]="true" [(visible)]="open">
    <div class="mb-7">
        <app-criar-atualizar-desconto (onSave)="this.onDescontoUpdate($event)" [update]="false" [descontoTipos]="this.descontosTipos"/>
    </div>
    <div class="text-sm text-gray-500 font-bold">Descontos expirados e ativos não serão aplicados</div>
    <p-table [value]="this.descontos" >
        <ng-template #header >
            <tr>
                <th>
                    Lojas
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Ativo?
                </th>
                <th>
                    Criação
                </th>
                <th>
                    Expira em
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template #body let-row>
            <tr class="text-sm">
                <td >
                    <div [pTooltip]="this.getLojasJointed(this.forceType(row).lojas)">
                        <div class="!text-nowrap !overflow-hidden !text-ellipsis !w-[200px]">
                            {{this.getLojasJointed(this.forceType(row).lojas)}}
                        </div>
                    </div>
                </td>
                <td>
                    {{this.forceType(row).nome}}
                </td>
                <td>
                    {{this.getBeautyName(this.forceType(row).tipo)}}
                </td>
                <td>
                    {{this.forceType(row).isActive?"Sim":"Não"}}
                </td>
                <td>
                    {{this.forceType(row).createdAt  | datetimeBrazil}}
                </td>
                <td>
                    {{this.forceType(row).expiresAt | dateBrazil}}
                </td>
                <td *ngIf="this.auth.getContext()?.role==='ADMIN'">
                    <app-criar-atualizar-desconto (onSave)="onDescontoUpdate($event)" [payload]="this.forceType(row)" [update]="true" [descontoTipos]="this.descontosTipos"/>
                    / <app-deletar-desconto (onDelete)="this.onDescontoDelete($event)" [id]="this.forceType(row).systemId"></app-deletar-desconto>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <div class="text-sm">
                Nenhum dado encontrado!
            </div>
        </ng-template>
    </p-table>
</p-dialog>
