<button (click)="this.open=true" pButton class=" !bg-black px-2 py-1 shadow-sm !border-[1px] !border-solid flex items-center gap-2">
    <div class="pi pi-percentage !text-white !text-xs"></div>
    <div class="text-[13px] text-white ">Gerenciar descontos</div>
</button>
<p-dialog header="Descontos" styleClass="!min-w-[60vw]" [modal]="true" [(visible)]="open">
    <div class="mb-7">
        <app-criar-atualizar-desconto [update]="false" [descontoTipos]="this.descontosTipos"/>
    </div>
    <p-table [value]="this.descontos" >
        <ng-template #header >
            <tr>
                <th>
                    Loja
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Ativo?
                </th>
                <th>
                    Criação
                </th>
                <th>
                    Expira em
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template #body let-row>
            <tr class="text-sm">
                <td>
                    {{this.forceType(row).loja.nome}}
                </td>
                <td>
                    {{this.forceType(row).nome}}
                </td>
                <td>
                    {{this.getBeautyName(this.forceType(row).tipo)}}
                </td>
                <td>
                    {{this.forceType(row).isActive?"Sim":"Não"}}
                </td>
                <td>
                    {{this.forceType(row).createdAt  | datetimeBrazil}}
                </td>
                <td>
                    {{this.forceType(row).expiresAt | dateBrazil}}
                </td>
                <td>
                    <app-criar-atualizar-desconto [payload]="this.forceType(row)" [update]="true" [descontoTipos]="this.descontosTipos"/>
                    /<span class="cursor-pointer text-red-600">Deletar</span>
                </td>
            </tr>
        </ng-template>
        <ng-template #empty>
            <div class="text-sm">
                Nenhum dado encontrado!
            </div>
        </ng-template>
    </p-table>
</p-dialog>
