<div (click)="this.sacolaService.openSacola()" class="cursor-pointer h-[50px] w-[50px] rounded-full bg-black flex items-center justify-center relative">
    <div *ngIf="this.totaisItensSacola" class="h-[15px] w-[15px] bg-white absolute top-[10px] right-[7px] rounded-full flex items-center justify-center text-xs font-bold">{{this.totaisItensSacola}}</div>
    <div  class="pi pi-shopping-bag !text-[20px] !text-white"></div>
</div>
<p-drawer appendTo="body"  position="right" [visible]="this.open" (onHide)="this.sacolaService.closeSacola()">
    <ng-template #header>
        <div>
            <div class="flex items-center gap-3">
                <div class="pi pi-shopping-bag"></div>
                <div>
                    SACOLA
                </div>
            </div>
        </div>
    </ng-template>
    <div class="h-[1px] flex-1 bg-slate-300 mt-1 mb-5">
    </div>
    <div (click)="this.limpar()" class="mb-5 underline cursor-pointer w-fit" *ngIf="this.totaisItensSacola">
        Limpar sacola
    </div>
    <div>
        <div class="text-sm" *ngIf="!this.totaisItensSacola">
            Nenhum produto na sacola
        </div>
    </div>
    <div *ngIf="this.totaisItensSacola" class="h-[500px] overflow-auto tiny-scroll">
        <ng-container  *ngFor="let item of this.beautySacola?.itens">
            <app-produto-sacola [loja]="loja" [produtoSacola]="item" />
        </ng-container>
    </div>
</p-drawer>