<div (click)="this.sacolaService.openSacola()" class="cursor-pointer h-[50px] w-[50px] rounded-full bg-black flex items-center justify-center relative">
    <div *ngIf="this.totaisItensSacola" class="h-[15px] w-[15px] bg-white absolute top-[10px] right-[7px] rounded-full flex items-center justify-center text-xs font-bold">{{this.totaisItensSacola}}</div>
    <div  class="pi pi-shopping-bag !text-[20px] !text-white"></div>
</div>
<p-drawer appendTo="body"  position="right" [visible]="this.open" (onHide)="this.sacolaService.closeSacola()">
    <ng-template #header>
        <div>
            <div class="flex items-center gap-3">
                <div class="pi pi-shopping-bag"></div>
                <div>
                    SACOLA
                </div>
            </div>
        </div>
    </ng-template>
    <div class="h-[1px] flex-1 bg-slate-300 mt-1 mb-5">
    </div>
    <div>
        <div class="text-sm" *ngIf="!this.totaisItensSacola">
            Nenhum produto na sacola
        </div>
    </div>
    <div *ngIf="this.totaisItensSacola" class="h-[500px] overflow-auto tiny-scroll">
        <ng-container  *ngFor="let item of this.beautySacola?.itens">
            <div class="flex bg-slate-50 mb-5 border-[1px] border-slate-100 shadow-sm ">
                <img class="w-[130px] h-[130px]" [src]="item.fotoUrl"/>
                <div class="space-y-3 p-1">
                    <div class="descricao text-[10px] h-[30px] font-bold">{{item.nome}}</div>
                    <div class="text-xs">{{item.cor}}/{{item.tamanho}}</div>
                    <p-inputnumber [(ngModel)]="item.quantidade" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal" [inputStyle]="{ width: '40px',height:'30px',fontSize:'12px',display:'flex',justifyContent:'center',alignItems:'center',textAlign:'center' }">
                        <ng-template #incrementbuttonicon>
                            <span class="pi pi-plus"></span>
                        </ng-template>
                        <ng-template #decrementbuttonicon>
                            <span class="pi pi-minus"></span>
                        </ng-template>
                    </p-inputnumber>
                </div>
            </div   >
        </ng-container>
    </div>
</p-drawer>